.idea
.DS_Store
node_modules
dist
publico/imagenes/1.png
publico/imagenes/2.png
publico/imagenes/3.png
publico/imagenes/4.png
publico/imagenes/5.png
publico/imagenes/6.png
publico/responsiveBootStrap.html
