.idea
.DS_Store
node_modules
dist
publico/imagenes/1.png
publico/imagenes/2.png
publico/imagenes/3.png
publico/imagenes/4.png
publico/imagenes/5.png
publico/imagenes/6.png
publico/responsiveBootStrap.html
publico/imagenes/9.png
publico/imagenes/8.png
publico/imagenes/7.png
publico/imagenes/13.png
publico/imagenes/12.png
publico/imagenes/11.png
publico/imagenes/10.png
